extends layout

block content
  h1= title

  - if(flashMessage)
    div.flash=flashMessage

  div 
    a(href="/contact_form") 連絡先の追加
  
  div 
    include _contact_table

  div
    h2 カテゴリ
    each category in categories
      a(href=`/categories/${category.id}`)= category.name
      | &nbsp;

  footer 
    a(href="/about") このサービスについて
    p アクセス時刻 #{now}
    p トップページのアクセス回数 #{view_counter}
